<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>alerts</title>
    <meta HTTP-EQUIV="REFRESH" content="{{wmin}};URL={{tourl}}"/>
    <style type="text/css">body, div {font-size: 14px;font-family: Arial, sans-serif;color: #333;line-height: 16px;}a {color: #339;text-decoration: none;}a:hover {color: #A0A4C1;text-decoration: none;}.alert {color: #990000;font-size: 12px;margin: 0;padding: 0;}.box {border: #B1B6D2 5px solid;width: 500px;margin: 100px auto;text-align: center;padding: 1px;}.box-body {padding:30px;}alertmsg {margin-top:30px;background-color: transparent;}</style>
</head>
<body style="text-align:center">
<div class="box">
    <div class="box-body">
        <h2 class="alert">{{msga}}</h2>
        <div class="alertmsg"><br /><a href="{{tourl}}">{{msgalt}}</a></div>
    </div>
</div>
</body>
</html>