<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='{{ statUrl }}/css/ginoa.css?v=12ggT80'>
</head>
<body>
    <div class="sheet">
        <div class="head">
            <h2>#Toaza 用户登录</h2>
        </div>
        <div class="body">
            <a href="/:signin:sina">Sina微博登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/:signin:google">Google登录</a><br><br><br>
                <span class="fsz11 gray">
                    <a href="/a/1">about Toaza</a>&nbsp;&nbsp;
                    <a href="http://toaza.com/a/2">test地址</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    #Toaza&nbsp;&nbsp;&nbsp;&nbsp;#简约即是美
                </span>
        </div>
    </div>
    <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-374733-15']);_gaq.push(['_setAllowHash',false]);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
</body>
</html>