{% extends '_base.html' %}
{% block body %}
    <div id="inner">
        <div id="nava"><span class="sepl4 fsz18"><strong>#{{nodenid.nName}}</strong></span>{% if gnauid %}<span class="right"><a class="aherfa" href="/newpost?n={{nodenid.nName}}&token={{ access_token }}">+推新</a></span>{%endif%}
        {% if nodenid.nDes %}<div class="sep10"></div><div class="sepl4 fsz11">{{nodenid.nDes}}</div>{% endif %}</div>
        {%for itema in narticles%}<div class="clearfix thread {{ loop.cycle('rowa','rowb') }}"><div class="left"><a href="/u/{{ itema.username | e }}" class="imga"><img alt="{{ itema.username | e }}" border="0" width="48" height="48" class="avatar lazy" src="{{imgUrl}}/static/grey.gif" data-original="{{imgUrl}}/avatar/{% if itema.isavatar %}{{itema.uid}}{%else%}avatar{%endif%}.png!48.png?u={{ itema.isavatar }}"></a></div><div class="user-txtInfo left thread-a"><a href="/a/{{itema.aid}}" title="{{ itema.title }}"><span class="thread-t">{{ itema.title|truncate(length=50,killwords=True,end='...') }}</span></a><div class="thread-i"><a href="/u/{{ itema.username | e }}">{{ itema.username | e }}</a>&nbsp;•&nbsp;{{ itema.aptime|setdateo('2') }}{% if itema.comtotal %}&nbsp;•&nbsp;{{ itema.comtotal }} 个回复{% endif %}</div></div></div>{%endfor%}
        <div class="sep20"></div>{% include '_pages.html' %}<div class="sep5"></div>
    </div>
{% endblock body %}
{% block sideb %}
    {% include '_side_userinfo.html' %}
{% endblock sideb %}